*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --accent:#cccacd;
    --accentDark: #f4f2f5;
    --aux: black;
    --c: #016887;
    --e: #697c2d;
    --b: #f56f6e;
}
body{
    height: 100vh;
    padding: 30px;
    display: grid;
    grid: 2fr repeat(4, 1fr) / repeat(4, 1fr) 2fr;
    place-content: center;
    gap: 30px;
    background: var(--accentDark);
    font-family: 'Roboto', sans-serif;
}
.display{
    grid-column: span 4;
    grid-row: 1;
    border: var(--aux) solid 3px;
    padding: 20px 40px;
    font-size: clamp(5rem, 8vw, 10rem);
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    background: #f4f2f5;
}
.theme{
    position: relative;
}
.theme label{
    position: absolute;
    width: 100px;
    height: 50px;
    background: var(--accent);
    inset: 0;
    margin: auto;
    border-radius: 30px;
    cursor: pointer;
}
.theme label::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--aux);
    transition: all .3s ease;
}
.theme span{
    position: absolute;
    top: 0;
    margin: auto;
    line-height: 50px;
    display: inline-block;
    width: auto;
    color: var(--aux);
    font-size: 2rem;
}
.theme span:first-of-type{
    left: 120%;
}
.theme span:last-of-type{
    right: 120%;
}
.theme input{
    display: none;
}
.theme input:checked + label::before{
    left: 100%;
    transform: translateX(-100%);
}
.btn{
    display: block;
    text-decoration: none;
    display: grid;
    place-items: center;
    color: var(--aux);
    font-size: clamp(2rem, 3vw, 3rem);
    background: var(--accent);
    border-radius: 5px;
    font-weight: bold;
  
}
.btn:hover{
    background: rgba(0, 0, 0, .7);
    color: white;
}
.borrar, .c , .equals{
    grid-column: 5;
}
.borrar{
    background: var(--b);
    grid-row: 2;
}
.borrar span{
    font-size: 3rem;
}
.c{
    background: var(--e);
    grid-row: 3;
}
.equals{
    background: var(--c);
    grid-row: 4 / -1;
}
@media (max-width: 1000px) {
    body{
        grid: 2fr repeat(7, 1fr) / repeat(4, 1fr);
    }
    .borrar{
        grid-column:1 / span 3;
        grid-row: 3;
    }
    .c{
        grid-column: 4;
        grid-row: 3;
    }
    .equals{
        grid-column: 1 / -1;
        grid-row: 8;
    }
    .theme{
        grid-column: 1 / -1;
        grid-row: 2;
    }
    .theme label{
        margin-right: 20%;
       
    }
}
@media (max-width: 480px) {
    body{
        gap: 10px;
    }
}
